venv/
venv/*
coco/
coco/*
europarl/
europarl/*
gcc/
gcc/*
evaluated/
evaluated/*
models/
models/*
imgs/*
europarl_es/
europarl_es/*
runs/
runs/*
wandb/
wandb/*
.idea/
.idea/*
__pycache__
__pycache__/*
.ipynb_checkpoints/
.ipynb_checkpoints/*
config.yml
*.log
